.App {
  text-align: center;
  font-size: 5rem;
  opacity: 0;
  animation: scaleIn .5s forwards; }

@keyframes scaleIn {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1);
    opacity: 1; } }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
