@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '../node_modules/foundation-sites/scss/foundation.scss';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  @include flex;
  @include flex-align(center, middle);
  font-family: 'Montserrat', sans-serif;
  background-color: #2980b9;
  color: #FFF;
}
